﻿@model Cumulative1.Models.Teacher

@{
    ViewBag.Title = "Ajax_DeleteConfirm";
}


<div id="containershow">
    <h2>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname with AJAX?</h2>
    <p>This action cannot be undone.</p>
    <a class="btn btn-outline-primary me-3" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    <button onclick="DeleteTeacher(@Model.TeacherId);" class="btn btn-danger">Confirm Delete</button>
    <p class="mt-3 text-danger" id="ResponseText"></p>
</div>